<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEMO APP</title>
</head>
<body>

    <h1>DEMO APP</h1>
    <a href={{url_for("index2")}}>Live feed</a>
    <form class= "p-3 text-center" action="/" method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" accept="image/*" name="imagefile">
        <input class="btn btn-primary mt-3" type="submit" value="predict image">
    </form>

    {% if prediction %}
        <p class="text-center">INFO {{prediction}}</p>
    {% endif %}
</body>
</html>